body {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    background-color: #000000;
    color: #ffffff;
}

span {
    color: #00ffff;
}

h2 {
    background-color: #663399;
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

h3 {
    background-color: #9FC5F8;
    font-weight: lighter;
    text-align: right;
    text-decoration: underline;
}